@import '../../styles/media.less';
:global {
    .follow-mb{
        width: 150px;
        display:flex;
        display:-webkit-flex;
        justify-content: space-around;
      .font-follow{
        color:rgba(0, 0, 0, 0.45);
        font-size: 0.75rem;
      }
      .number-follow{
        color: #111;
        font-size: 0.85rem;
        font-weight: 600;
        max-width: 75px;
        overflow: hidden;
        text-overflow:ellipsis
      }
    }
    .FollowCard-dd{
        .ant-card{
            .ant-card-grid{
                padding: 1rem;
            }
            span{
                font-weight: 900;
                color: #111;
            }
        }
    }
}

@media @desktop{
    :global {
        .follow-mb{
            display: none;
        }
    }
  }
  @media @tablet{
    :global {
        .follow-mb{
            display: none;
        }
    }
  }