@import '../../styles/media.less';
.list {
  flex-grow: 1;
}

.load-text {
  padding: 1rem 0;
  text-align: center;
}

:global {
  #list-question {
    // background: #f0f2f5;
    border: 0;
    .ant-card-head-title {
      display: flex;
      align-items: center;
    }
    &>.ant-card-body {
      padding: 0;
      &>.ant-card-loading-content {
        margin: 1.5rem;
      }
    }
  }
}
