:global {
    #FollowList-dd{
      .ant-list-item-meta-title {
        font-size: 1rem;
    }
    .description-dd{
         font-size: 0.75rem;
    }
    .flexfollow-dd{
        display:flex;display:-webkit-flex;
        justify-content:space-between;
        align-items: center;
        .follow-button{
            margin-right: 1rem;
        }
    }
    }
}