@import './styles/media.less';
html,
body,
:global(#root) {
  font-size: 16px;
  height: auto;
  overflow-x: hidden;
}

ul {
  padding-inline-start: 0;
}

/** antd */

:global {
  #root {
    p,
    h1,
    h2,
    h3,
    h4,
    h5 {
      margin: 0;
    }
    .ant-tabs-bar {
      margin-bottom: 0;
    }
  }
  .ant-badge-count {
    z-index: 1;
  }
  .uploadingImagies img {
    width: 100%;
    height: 100%;
  }
  code,
  pre {
    background: #2d2d2d;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    line-height: 1.5;
    color: #ccc;
    position: relative;
  }
  pre {
    border-radius: 10px;
    padding: 1rem;
  }
  code[class*="language-"],
  pre[class*="language-"] {
    color: #ccc;
    font-family: Consolas, Monaco, 'Andale Mono', 'Ubuntu Mono', monospace;
    text-align: left;
    white-space: pre;
    word-spacing: normal;
    word-break: normal;
    word-wrap: normal;
    line-height: 1.5;
    -moz-tab-size: 4;
    -o-tab-size: 4;
    tab-size: 4;
    -webkit-hyphens: none;
    -moz-hyphens: none;
    -ms-hyphens: none;
    hyphens: none;
  }
}

@media @tablet {
  html,
  body,
  :global(#root) {
    font-size: 14px;
  }
}

@media @small-phone {
  html,
  body,
  :global(#root) {
    font-size: 12px;
  }
}
